@use 'sass:math';

// test
//.FormItemBase {
//  .FormItemBase-InputLabel {
//    background: yellow;
//  }
//  .FormItemBase-Control-wrap {
//    background: #00000033;
//    .FormItemBase-Control {
//      background: #00000022;
//    }
//  }
//}

.FormItemBase {
  .FormItemBase-InputLabel {
    overflow: visible;
    padding-left: 5px;

    &.MuiInputLabel-sizeSmall {
      transform: translate(0, -1.5px) scale(0.7);
    }
  }

  .FormItemBase-Control-wrap {
    position: relative;
  }

  .FormItemBase-Control {
    position: absolute;
    left: 0;
    top: 0;
  }

  &.variant-standard {
    .FormItemBase-Control-wrap {
      margin-top: 16px;
    }
  }
}
