.PrivateMonthSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;

  button {
    font-size: 15px;
    font-weight: 400;
    border-radius: 18px;
  }
}
