.PFormDateRangePickerTooltipPickerContainer {
  display: inline-block;
  position: relative;

  .month-change-arrow-wrap {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;

    > div {
      &:first-of-type {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
        text-align: right;
      }
    }
  }

  .month-title {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    button {
      font-size: 15px;
      padding-left: 8px;
      padding-right: 0;
      min-width: 0;

      &:not(.active) {
        color: unset;
      }
    }
  }

  .date-picker-wrap {
    position: relative;

    .year-select,
    .month-select {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-top: 1px solid #efefef;
      padding-top: 15px;
      background-color: white;

      button {
        &.today:not(.selected) {
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        &.active:not(.selected) {
          background-color: #f5f5f5;
          &:hover {
            background-color: rgb(229, 229, 229);
          }
        }
      }
    }

    .year-select {
      overflow-y: scroll;

      button {
        font-size: 14px;
        font-weight: 400;
        border-radius: 18px;
      }
    }
    .month-select {
      button {
        font-size: 15px;
        font-weight: 400;
        border-radius: 18px;
      }
    }
  }

  .action-buttons {
    button {
      min-width: 0;
      color: unset;
      &:not(:first-of-type) {
        margin-left: 5px;
      }
      &.disabled {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
