.PFormTextarea {
  .MuiInputBase-root {
    .MuiInputBase-input {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #00000030;
        background-clip: padding-box;
        border-left: 4px transparent solid;
      }
    }
  }
}
