.PFormTextField {
  min-width: 200px;

  .clear-icon-button-wrap {
    display: none;
  }

  &.variant-filled {
    .clear-icon-button-wrap {
      margin-top: 9px;
      margin-bottom: -9px;
    }
  }

  &:hover,
  .MuiInputBase-root.Mui-focused {
    .clear-icon-button-wrap.show {
      display: block;
    }
  }
}
