.PFormPassword {
  .eye-icon-button-wrap {
    visibility: hidden;
  }

  &.variant-filled {
    .eye-icon-button-wrap {
      margin-top: 9px;
      margin-bottom: -9px;
    }
  }

  &:hover,
  .MuiInputBase-root.Mui-focused {
    .eye-icon-button-wrap.show {
      visibility: visible;
    }
  }
}
